html {
margin:0;
padding:0;
}

.pikup_wrapper h1 {
margin-bottom: 10px;
font-size: 20px;
}

.pikup_item {
display:table;

width:100%;
margin-bottom:5%;
}

.pikup_info {
display:inline-block;
width:70%;
}

.pikup_item .pikup_logo {
max-width:200px;
width:20%;
border-radius: 100px;
float:left;
}

.pikup_actions {
float:right;
max-width: 64px;
width:10%;
height:100%;
}

.pikup_actions img {
width:100%;
vertical-align: 0;
}

.spacing {
margin: 0 auto;
width: 80%;
}

#map-canvas { 
	height: 180px; 
	margin: 0; 
	padding: 0; 
	width:100%;
}
