html {
margin:0;
padding:0;
}

.hover_hand{
cursor:pointer;
}

.pikup_wrapper h1 {
margin-bottom: 10px;
font-size: 40px;
}

.pikup_item {
display:table;

width:100%;
margin-bottom:10px;
}

.pikup_info {
display:inline-block;
width:60%;
margin-left:5%;
}

.pikup_item .pikup_logo {
max-width:200px;
width:20%;
border-radius: 100px;
float:left;
}

.pikup_actions {
float:right;
max-width: 64px;
width:10%;
height:100%;
}

.pikup_actions img {
width:100%;
vertical-align: 0;
}

.pikup_add {
height:300px;
width:70%;
margin:auto;
padding: auto;
}

.pikup_item textarea{
display:block;
clear:both;
width: 60%;
margin: 0 auto;
}

.buttons {
float: left;

}

.buttons img{
width: 100px;
}

.spacing {
margin: 0 auto;
width: 80%;
}

.past {
background-color:#FEE0C6;
}

.future {
background-color: #ECF1EF;
}

#map { 
height: 300px;
width: 100%;
position: fixed;
overflow: hidden;
-webkit-transform: translateZ(0px);
background-color: rgb(229, 227, 223);
}
